.config/QtProject.conf
.config/pulse
.config/glib-2.0
.config/mimeapps.list
.config/mpv/watch_later/
.config/transmission*
.config/configstore/
.config/GIMP/
.config/dconf/
.config/ungoogled-chromium/
.config/torbrowser/
.config/gdb/
.config/guix/current
.config/pavucontrol.ini
.config/fontconfig/
.config/user-dirs.*
.config/shepherd/
.config/libreoffice/

.config/mpdscribble/
.config/mpdasrc
.config/mpd/*
!.config/mpd/mpd.conf

.config/qt5ct/*
.config/qt6ct/*
!.config/qt5ct/qt5ct.conf
!.config/qt6ct/qt6ct.conf

.local/*
!.local/bin/

.stumpwm.d/*log*