! modus-operandi
! URxvt*.background: #ffffff
! URxvt*.foreground: #000000
! URxvt*.color0:     #000000
! URxvt*.color1:     #a60000
! URxvt*.color2:     #005e00
! URxvt*.color3:     #813e00
! URxvt*.color4:     #0031a9
! URxvt*.color5:     #721045
! URxvt*.color6:     #00538b
! URxvt*.color7:     #bfbfbf
! URxvt*.color8:     #595959
! URxvt*.color9:     #972500
! URxvt*.color10:    #315b00
! URxvt*.color11:    #70480f
! URxvt*.color12:    #2544bb
! URxvt*.color13:    #5317ac
! URxvt*.color14:    #005a5f
! URxvt*.color15:    #ffffff
! modus-vivendi
URxvt*.background: #000000
URxvt*.foreground: #ffffff
URxvt*.color0:     #000000
URxvt*.color1:     #ff8059
URxvt*.color2:     #44bc44
URxvt*.color3:     #d0bc00
URxvt*.color4:     #2fafff
URxvt*.color5:     #feacd0
URxvt*.color6:     #00d3d0
URxvt*.color7:     #bfbfbf
URxvt*.color8:     #595959
URxvt*.color9:     #ef8b50
URxvt*.color10:    #70b900
URxvt*.color11:    #c0c530
URxvt*.color12:    #79a8ff
URxvt*.color13:    #b6a0ff
URxvt*.color14:    #6ae4b9
URxvt*.color15:    #ffffff

URxvt*.font: xft:Iosevka Slab:size=10,xft:Noto Sans Mono CJK JP

URxvt*.perl-ext-common: default,matcher,clipboard
URxvt*.scrollBar:       false
URxvt*.internalBorder:  0
URxvt*.iso14755:        false
URxvt*.intensityStyles: true

URxvt*.pointerBlank:      true
URxvt*.pointerBlankDelay: 987654321

!URxvt*.letterSpace: -1
URxvt*.lineSpace:   0

URxvt*.clipboard.copycmd:  xclip -i -selection clipboard
URxvt*.clipboard.pastecmd: xclip -o -selection clipboard
URxvt*.keysym.M-c:         perl:clipboard:copy
URxvt*.keysym.M-v:         perl:clipboard:paste
URxvt*.keysym.M-C-v:       perl:clipboard:paste_escaped

URxvt*.matcher.rend.0: Uline Bold fg6
URxvt*.matcher.button: 1
URxvt*.url-launcher:   chrome

!Xft.dpi:       96
Xft.autohint:  true
Xft.antialias: true
Xft.hinting:   true
Xft.hintstyle: hintslight
Xft.rgba:      rgb
Xft.lcdfilter: lcddefault